/* ======================================= Admin control ================================================ */

#adminControlForm {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28%;
    padding: 2%;
    transform: translate(-50%, -50%);
    box-shadow: 6px 6px 24px black;
}

#adminControlForm .mb-3 {
    width: 185%;
}

/* ================================================= Admin Buyer ================================================ */

.adminshowproduct {
    display: grid !important;
    grid-template-columns: auto auto auto !important;
    padding: 10px;
    gap: 46px 132px !important;
    position: absolute;
    top: 75px;
    margin-left: 2%;
    width: 100%;
}

.position {
    position: relative;
}

.is {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    width: 310px;
    padding: 10px 0px;
    height: fit-content;
}


.nohave {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

/* ================================================= Admin Product ================================================ */

table {
    padding: 10px;
    border: 1px solid black;
}

table tr th {
    padding: 10px;
    border: 1px solid black;
}

table tr td {
    padding: 10px;
    border: 1px solid black;
}


/* ================================================= Admin Product ================================================ */




#update_first input {
    padding: 10px;
}

#update_first input::placeholder {
    text-align: center;
}

#updateclose {
    position: absolute;
    height: 40px;
    top: 0;
    right: 0;
}

#updateclose img {
    cursor: pointer;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all ease-in-out 0.3s;
    rotate: 45deg;
}

#updateclose img:hover {
    cursor: pointer;
    height: 40px;
    width: 40px;
    rotate: 180deg;
}


.spinLoader {
    position: absolute;
    top: 30%;
    left: 50%;
}

#update_first {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 25%;
    height: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
    opacity: 1;
    transition: all ease-in-out 0.5s;
    box-shadow: 6px 6px 24px black;
    padding: 2%;
}

#updates_first {
    visibility: hidden;
    transition: all ease-in-out 0.5s;
    opacity: 0;
}

#update_second {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: all ease-in-out 0.5s;
    box-shadow: 6px 6px 24px black;
    padding: 2%;
}

#updates_second {
    visibility: visible;
    transition: all ease-in-out 0.5s;
    opacity: 1;
}

#close {
    position: relative;
    top: 0;
    right: 0;
    transition: all ease-in-out 0.3s;
    rotate: 45deg;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

#hide {
    opacity: 0;
    transition: all ease-in-out 0.5s;
}

#show {
    opacity: 1;
    transition: all ease-in-out 0.5s;
}

.SearchBuyer {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    transform: translate(-50%);
}

#spinner {
    position: absolute;
    padding: 10px 0px;
    top: 50%;
    left: 50%;
}

button#stockUpdate {
    padding: 15px;
    display: inline-flex;
    font-size: 10px;
    height: 26px;
    width: 25%;
    margin-left: 40px;
}