/* ======================================= Modal ================================================ */

.modal-backdrop {
    opacity: 0.1 !important;
}

/* ======================================= Admin control ================================================ */

#adminControlForm {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28%;
    padding: 2%;
    transform: translate(-50%, -50%);
    box-shadow: 6px 6px 24px black;
}

#adminControlForm .mb-3 {
    width: 185%;
}

/* ================================================= Admin Product ================================================ */

.adminshowproduct {
    display: grid !important;
    grid-template-columns: auto auto auto !important;
    padding: 10px;
    gap: 46px 132px !important;
    position: absolute;
    top: 75px;
    margin-left: 2%;
    width: 100%;
}

.position {
    position: relative;
}


/* ================================================= Admin Buyer ================================================ */


#update_first input {
    padding: 10px;
}

#update_first input::placeholder {
    text-align: center;
}

#updateclose {
    position: absolute;
    height: 40px;
    top: 0;
    right: 0;
}

#updateclose img {
    cursor: pointer;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all ease-in-out 0.3s;
    rotate: 45deg;
}

#updateclose img:hover {
    cursor: pointer;
    height: 40px;
    width: 40px;
    rotate: 180deg;
}


.spinLoader {
    position: absolute;
    top: 30%;
    left: 50%;
}

#update_first {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 26%;
    height: 40vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
    opacity: 1;
    transition: all ease-in-out 0.5s;
    box-shadow: 6px 6px 24px black;
    padding: 2%;
}

#update_first form {
    height: 100%;
    width: 100%;
}

#updates_first {
    visibility: hidden;
    transition: all ease-in-out 0.5s;
    opacity: 0;
}

#update_second {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: all ease-in-out 0.5s;
    box-shadow: 6px 6px 24px black;
    padding: 2%;
}

#updates_second {
    visibility: visible;
    transition: all ease-in-out 0.5s;
    opacity: 1;
}

#close {
    position: relative;
    top: 0;
    right: 0;
    transition: all ease-in-out 0.3s;
    rotate: 45deg;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

#hide {
    opacity: 0;
    transition: all ease-in-out 0.5s;
}

#show {
    opacity: 1;
    transition: all ease-in-out 0.5s;
}

.SearchBuyer {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    transform: translate(-50%);
}

.SearchBuyer th {
    font-size: 20px;
}

.SearchBuyer td {
    font-size: 18px;
}

#spinner {
    position: absolute;
    padding: 10px 0px;
    top: 50%;
    left: 50%;
}


#update_first input,
#update_first .form-outline {
    width: 40vh;
}

button#stockUpdate {
    position: absolute;
    padding: 15px;
    display: inline-flex;
    font-size: 10px;
    height: 26px;
    width: 25%;
    right: 50px;
    bottom: 21%;
}

.mb-3.row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
}

.userTableProduct th {
    font-size: 20px;
    text-align: center;
}

.userTableProduct td {
    font-size: 20px;
}