.position {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 4%;
  gap: 2% 20%;
  margin-top: 2%;
}

#imageSiza {
  width: 286px;
  height: 180px;
  border: 1px solid black;
  border-radius: 1px 1px 65px 65px;
}

#cartButton {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.productParticular {
  border: 1px solid black;
}

#orderconfrom {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid black;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  padding: 1%;
}

#imageSizaClose {
  height: 11%;
  width: 4.%;
  position: absolute;
  top: 0%;
  right: 0%;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  transform: rotate(40deg);
}

#imageSizaClose:hover {
  height: 13%;
  width: 5.%;
  transform: rotate(180deg);
}

#productCounter {
  border: 1px solid black;
  padding: 0px 12px;
  position: relative;
  top: 7px;
}

.stockPrice {
  border: 1px solid black;
  padding: 4px 7px;
  border-radius: 7px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cartprop {
  display: none;
}

.pagination {
  position: absolute;
  top: 0.6%;
  left: 40%;
  width: 26%;
}

#searchPaginat {
  width: 108%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}