#pagination{
  position: absolute;
  top: 1%;
  left: 40%;
}

.position{
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 4%;
  gap: 2% 20%;
  margin-top: 2%;
}

#imageSiza{
  width: 286px;
  height: 180px;
}

#cartButton {
  width: 100%;
  display: flex;
  justify-content: space-around;
}